
body{
    margin: 0;
    padding: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    background-size: cover;
    background-color: #eaf4f6;
}
.right_container{
    float: right;
    margin-right: 2%;
    margin-left: 1%;
    top: 0;
    height: 400px;
    width: 60%;

}
.right_container img{
    height: 400px;
    width: 100%;
}
.left_container{
    background-color:  #cbe6ea;
    margin-left: 2%;    
    float: left;
    top: 0;
    height: 400px;
    width: 35%;
}
.left_container h1{
    text-align: center;
    padding-top: 15%;
    font-size: 40px;
    letter-spacing: 5px;
    font-family: sans-serif;
}
.left_container hr{

    margin: 10% 45% 0 45%;
    height: 3px;
    width: 10%;
    background-color: #0D0000;
}
.left_container p{
    text-align: center;
    padding-top: 5%;
    font-family: sans-serif;

}

.button {
    background-color: #078FC9;
    border: none;
    color: white;
    padding: 12px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    margin-left: 5%;
}

.about_me{
    background: url(https://ak1.picdn.net/shutterstock/videos/5687321/thumb/6.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    background-size: cover;
    display:inline-block;

    height: 500px;
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
    border: 1px solid blue;
}
.about_me h1{
    margin-top: 5%;
    font-family: sans-serif;
}
.about_me hr{
    margin: 2% 47% 2% 47%;
    height: 3px;
    background: brown;
}
.about_me .me{
    margin-left: 30% ;
    margin-right: 30%;
    padding-top: 2%;


}
.about_me .me p{
    word-spacing: 6px;
    line-height: 25px;
}
.about_me .me .ac{
    text-align: center;
    word-spacing: 6px;
    line-height: 25px;
}
.resume{

    margin: 1% 2% 1% 2%;
    width: 96%;
    height: 200px;   
    background-color:  #cbe6ea;
    text-align: center;
}
.resume h1{
    padding-top: 5%;
}
.resume hr{
    margin: 2% 47% 0 47%;
    background: brown;
    height: 3px;
}
.left_content{
    float: left;
    height: 500px;
    width: 47.5%;
    margin-left: 2%;
    margin-top: 0.5%;
    margin-right: 1%;
    margin-bottom: 1%;
    background-color:  #cbe6ea;

}
.left_content .logo img{
    text-align: center;
    margin-top: 6%;
    height: 60px;
    width: 75px;
}
.left_content h2{
    text-align: center;
    margin-top: 4%;
    font-family: calibary;
    letter-spacing: 3px;
}
.education{
    text-align: center;

}
.education .heading{
    font-weight: bold;
    margin-top: 5%;
}
.right_content{
    float: right;
    height: 500px;
    width: 47.5%;
    margin-top: 0.5%;
    margin-right: 2%;
    margin-bottom: 1%;
    background-color:  #cbe6ea;

}
.right_content .logo img{
    text-align: center;
    margin-top: 5%;
    height: 60px;
    width: 90px;
}
.left_content h2{
    text-align: center;
    margin-top: 4%;
    font-family: calibary;
    letter-spacing: 3px;
}
.right_content h2{
    text-align: center;
    margin-top: 4%;
    font-family: calibary;
    letter-spacing: 3px;
}
.contact{
    margin: 1% 2% 0% 2%;
    width: 96%;
    height: 500px;   
    background-color:  #cbe6ea;
    text-align: center;
    clear: both;
}
.contact #con{
    padding-top: 2%;
}
.contact hr{
    margin: 2% 47% 0 47%;
    background: brown;
    height: 3px;
}
input[type=text]{
    height: 30px;
    width: 40%;
    border: 2px solid #009999;
    border-radius: 3%;
    background: none;
    margin-top: 2%;        
}

input[type=email]{
    height: 30px;
    width: 40%;
    border: 2px solid #009999;
    border-radius: 3%;
    background: none;
    margin-top: 2%;        
}
input[type=email]:focus {
    background: none;
    color:brown;
    font-size: 15px;
    font-weight: bold;
}
textarea {
    width: 40%;
    height: 150px;
    margin-top: 2%;
    background: none;
    color:brown;
    font-size: 15px;
    font-style: italic;

    border: 2px solid #ccc;
    border-radius: 4px;
    border: 2px solid #009999;
    resize: none;
}
textArea:focus{
    color:brown;
    font-size: 15px;
    font-style: italic;
}
input[type=submit]{
    position: absolute;
    /* top:  50%;
     left: 50%;*/
    transform: translate(-50%, -50%);
    margin-top: 2%;
    width: 40%;
    height: 60px;
    text-align: center;
    line-height: 60px;
    color: #fff;
    font-size: 24px;
    text-transform:    uppercase;
    text-decoration: none;
    font-family: sans-serif;
    box-sizing: border-box;
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400%;

    z-index: 1;
}
input[type=submit]:hover{
    animation:  animate 8s linear infinite;
}

@keyframes animate 
{
    0%{
        background-position: 0%;
    }
    100%{
        background-position: 400%;
    }
}
input[type=submit]:before{
    content:  ' ';
    position: absolute;
    top : -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400%;
    border-radius: 40%;
    filter: blur(20px);
    opacity: 0;
    transition: 0.5s;
}
input[type=submit]:hover:before{
    filter: blur(20px);
    opacity: 1;
    animation:  animate 8s linear infinite;
}
.footer{
    bottom: 0%;    
    margin: 1% 2% 0% 2%;
    width: 96%;
    height: 150px;   
    background-color:  #cbe6ea;    
    clear: both;
}

.footer .lfooter{
    float: left;
    margin-top: 2%;
    width: 30%;
    text-align: center;
    font-family: sans-serif;
}
.footer .rfooter{
    float: right;
    margin-top: 2%;
    width: 60%;
    font-family: sans-serif;
}
.footer .rfooter .logo{
    height: 40px;
    width: 40px;
    border: 2px solid black;
    border-radius: 25%;
    margin-right: 5px; 
    margin-left: 5px;
}
.footer .rfooter a{
    text-decoration: none;
    display: inline-block;
    color: black;
}
.footer .rfooter a:hover{

    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);

}
.footer .rfooter span{
    padding-bottom: 10px;
}

@media only screen and (max-width: 600px) {

    body {
        background-color: #eaf4f6;
    }

    .left_container{
        display: block;        
        width: 98%;
        margin-left: 1%;
        margin-right: 1%;
        margin-top: 1%;

    }
    .right_container{
        display: block;
        clear: both;
        float: none;          
        width: 98%;
        margin-left: 1%;
        margin-right: 1%;
        margin-top: 1%;
        width:100%;
    }
    .right_container img{
        padding-left: 1%;
        padding-right: 1%;
        padding-top: 1%;
        width: 96%;
        height: 400px;
    }
    .about_me{
        height: auto;
        border: none;
        background-image: none;
        background:  #cbe6ea;
    }
    .about_me .me{
        margin-left: 10% ;
        margin-right: 10%;
        padding-top: 2%;
    }

    .resume{  
        margin: 1% 1% 0% 1%;
        width: 98%;
        height: 100px;   
        background-color:  #cbe6ea;
        text-align: center;
    }
    .resume h1{
        padding-top: 5%;
    }
    .left_content{
        float:none;
        height: auto;
        width: 98%;
        padding-bottom: 2%;
        margin-left: 1%;
        margin-top: 1%;
        margin-right: 1%;
        margin-bottom: 1%;
        background-color:  #cbe6ea;

    }
    .right_content{
        float:none;
        height: auto;
        width: 98%;
        padding-bottom: 2%;
        margin-left: 1%;
        margin-top: 1%;
        margin-right: 1%;

        background-color:  #cbe6ea;        
    }
    .contact {
        height: auto;
        margin-top: 1%;
        padding-bottom: 15%;
    }
    input[type=text]{  
        width: 96%;
    }

    input[type=email]{
        width: 96%;       
    }
    textarea {
        width: 95%
    }
    input[type=submit]{
        position: absolute;
        width: 94%;

        margin-top: 7%;
    }
    .footer{
        bottom: 0%;    
        margin: 1% 2% 0% 2%;
        padding-top: 1%;
        padding-bottom: 1%;
        width: 96%;
        height: auto;   
        background-color:  #cbe6ea;    
        clear: both;
    }

    .footer .lfooter{
        float:none;
        margin-top: 2%;
        line-height: 5px;
        width: 100%;
        text-align: center;
        font-family: sans-serif;
    }
    .footer .rfooter{
        float: none;
        width: 100%;
        font-family: sans-serif;
    }
    .footer .rfooter .logo{
        height: 25px;
        width: 25px;
        margin-right: 2px; 
        margin-left: 2px;
    }
    .footer .rfooter a{
        text-decoration: none;
        display: inline-block;
        color: black;
    }
    .footer .rfooter a:hover{

        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);

    }
    .footer .rfooter span{
        padding-bottom: 10px;
    }



}



/*body{
    background: #eaf4f6;
    margin: 0;
}
.main-container{
    background-color:  #eaf4f6;
    background-image: url(Abhay.jpg);
    width: 100%;
    height: 100%;
    margin: 0;
}

.name_container{
    margin: 0 1% 0 2%;
    height: 300px;
    width: 36%;
    display: inline-block;
}
.name_container h1{
    padding: 8% 4% 0 6%;
    letter-spacing: 5px;
    font-family: sans-serif;
}
.name_container hr{
    margin: 5% 45% 5% 45%;
    height: 3px;
    width: 10%;
    background-color: #0D0000;
}
.name_container p{
    text-align: center;
}
.button {
    background-color: #078FC9;  Green 
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;  Safari 
    transition-duration: 0.4s;
}
.button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    margin-left: 5%;
}

.photo_container{
    background: url(pic.JPG);
    height: 300px;
    width: 46%;
    display: inline-block;
}
.photo_container div{
    background: pink;
    height: 200px;
}*/
